.container{
    background-color: rgb(221, 152, 92);
    margin: 5rem auto;
    min-height: 700px;
    max-width: 1200px;
  

    @media only screen and (max-width:1200px){
        margin: 0;
        margin-bottom: 0;
    }
}
.headers{
    background-color: rgb(236, 236, 235);
    height: 70px;
    border-bottom: 3px solid rgb(134, 48, 8);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav{
    background-color: rgb(8, 0, 0);
  flex: 0 0 19%;
    
}
.content{
    display: flex;
    //height: 110vh;

    @media only screen  and (max-width:900px){
        flex-direction: column;
    
    }
    
}
.buglow{
    flex: 1;
    background-color: rgb(209, 235, 184);
    
}

.logo-h{
    height: 70px;
    margin-top: 5px;
    margin-left: 30px;
}
.search{
flex: 0 0 30%;
display: flex;
    &-icon{
        height: 1rem;
        width: 2rem;
        fill: brown;
      
    }
    &-input{
  font-family: inherit;
  font-size: inherit;
  width: 90%;
  height: 25px;
      background-color: blanchedalmond;
      color: black;
      margin-right: -40px;
      border-radius: 100px;
      padding: 7px 5px;
      border: none;
      font-weight: 100;
      transition: .4s;

      &:focus{
          color: green;
          font-size: inherit;
          background-color: rgb(247, 219,177) ;
          outline: none;
          width: 100%;
      }

      &::-webkit-input-placeholder{
          font-size: 15px;
      }
    }

    &-button{
margin-top: 0px;
border: none;
background-color: blanchedalmond;
border-radius: 100px;

&:focus{
    background-color: rgb(247, 219,177);
    outline: none;
}
    }

    &-input:focus + &-button{
        background-color: rgb(247, 219,177);
    }
}

.icon-people{
display: flex;
align-items: center;
justify-content: flex-end;
cursor: pointer;

    &-rox{
        margin: 0 2rem;
align-self:flex-start;

&:hover{
    background-color: rgb(110, 121, 121);
    
}

    }
    &-box{
height: 2rem;
width: 2rem;
fill: rgb(0, 0, 0);

    }
}

.notification{
background-color: chartreuse;
color: crimson;
font-size: 16px;
height: 15px;
width: 35px;
border-radius: 50px;
padding: 2px;
font-weight: bolder;
}
.user-img{
height: 3rem;
border-radius: 100px;
display:flex;
align-items: center;
margin-right: 3rem;
margin-top: 7px;
cursor: pointer;


}
.name{
display: flex;
justify-content: flex-start;
align-items:stretch;
font-size: 15px;
font-weight: bolder;
}
.search-icon-people:hover ~ .notification{
    background-color: cadetblue;
}